[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
    ignore = dirty
[submodule "oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/balkian/oh-my-zsh.git
[submodule "prezto"]
	path = zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
